<div id="flashcard_<%= flashcard.id %>" class="">
    <%= link_to flashcard.title, edit_flashcard_path(flashcard) %>
    <%= link_to "delete", flashcard, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
