<div id="flashcard_<%= flashcard.id %>" class="border-none bg-white">
    <%= link_to flashcard.title, edit_deck_flashcard_path(flashcard.deck, flashcard) %>
    <%= form_with url: deck_flashcard_path(flashcard.deck, flashcard), method: :delete do |form| %>
      <%= button_tag "delete", type: "submit", class: "" %>
    <% end %>
</div>
