<div id="flashcard_<%= flashcard.id %>" class="border-none bg-white">
    <%= link_to flashcard.title, edit_flashcard_path(flashcard) %>
    <%= form_with url: flashcard, method: :delete do |form| %>
      <%= button_tag "delete", type: "submit", class: "button" %>
    <% end %>
    <button class="button is-primary">Primary button </button>
</div>
