<h1>Flashcards</h1>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

<%= link_to "Create Flashcard", new_flashcard_path if authenticated? %> 
<%= link_to "Login", new_session_path unless authenticated?%>

<div id="flashcards">
    <% @flashcards.each do |flashcard| %>
        <div>
            <%= link_to flashcard.title, flashcard%>
        </div>
    <% end %>
</div>