



<div class="box mt-4">
  <div class="level mb-0">
    <div class="level-left">
      <section class="hero level-item">
        <div class="hero-body p-0">
          <p class="title">Groups</p>
          <p class="subtitle">All Groups you have access to!</p>
        </div>
      </section>
    </div>
    <div class="level-right">
      <%= link_to "Create Group", new_group_path %>
    </div>
  </div>
  <hr class="my-3">
  <div id="groups" >
    <% @groups.each do |group| %>
        <div class="level mb-0">
          <div class="level-left">
              <%= link_to group.name, group, class: "level-item" %>
          </div>
          <div class="level-right ">
            <%= link_to "delete", group, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
         <% if @groups.last != group %>
           <hr class="my-3"> 
         <% end %> 
    <% end %>
</div>
