<nav role="navigation" aria-label="main navigation" class="">
  <div class="flex flex-wrap items-center justify-between mx-auto p-4">
  <div class="">
    <%= link_to "Home", root_path, class:"link" %>
  </div>
  <div class="">
    <%= link_to "sign out", destroy_user_session_path, data: { turbo_method: :delete, turb_confirm: "Are you sure?" }, class:"link"  if user_signed_in?%>
    <% if !user_signed_in? %>
      <%= link_to "sign up", new_user_registration_path, class:"link" %>
      <%= link_to "sign in", new_user_session_path, class:"link" %>
    <% end %>
  </div>
  </div>
</nav>

